# Ansible production locations
/ansible/inventory-prod*

# Python venv
.venv/

# Private keys
*.pem

# Idea
.idea

# Private stuff
/private
/ansible/roles/mysite-rest-app/templates/
/ansible/roles/mysite-auth-app/templates/
/ansible/roles/mysite-auth-app/templates/
