# Ansible production locations
/ansible/inventory-prod*

# Python venv
.venv/

# Private keys
*.pem

# Idea
.idea

# Private stuff
/private
/ansible/roles/mysite-rest-app/templates/production.json.j2
/ansible/roles/mysite-auth-app/templates/credentials.json.j2
/ansible/roles/mysite-auth-app/templates/production.json.j2
